body {
    margin: 0;
    font-size: 14px;
    font-family: 'Red Hat Text', sans-serif;
    background-color: hsl(235, 16%, 14%);
}

.container {
    display: grid;
    grid-template-rows: auto 2fr 1fr;
    position: relative;
    height: 100vh;
    background-image: url(/images/bg-stars.svg);
    background-size: 100%;
}

.header {
    display: flex;
    justify-content: center;
    color: #fff;
    padding-top: 120px;
}

.header h1 {
    letter-spacing: 8px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
}

.main-container {align-self: center;}

.main {
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-number {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    font-weight: 700;
    color: hsl(345, 95%, 68%);
    width: 140px;
    height: 130px;
    background-color: hsla(236, 21%, 26%, 0.685);
    transition: transform 0.5s;
    border-radius: 9px;
}

.card-number::before, .card-number::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: hsl(235, 16%, 14%);
    border-radius: 50%;
    top: calc(50% - 7.5px);
}

.card-number::before {
    right: calc(100% - 7.5px);
}

.card-number::after {
    left: calc(100% - 7.5px);
}

.card-number:hover {
    transform: rotateX(180deg);
}

.card h2 {
    color: hsl(237, 18%, 59%);
    text-transform: uppercase;
    font-size: 14px;
    line-height: 3;
    letter-spacing: 6px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url(/images/pattern-hills.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: bottom;
}

.content-footer {
    display: flex;
    gap: 40px;
    margin-bottom: 80px;
}

.footer-icons:hover {
    /* color: hsl(345, 95%, 68%); */
    filter: hue-rotate(68deg) brightness(95%);
    cursor: pointer;
}